* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: linear-gradient(135deg, #536976 10%, #292e49 100%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.265);
  padding: 0.5rem;
  margin-top: 1rem;
}
.table {
  border: 2px solid black;
}
.input {
  border: 2px solid black;
}
label {
  font-size: 1rem;
}

.form {
  gap: 1rem;
}
.wrapper {
  height: 100vh;
}
h5 {
  text-align: center;
}
/* #totalHour {
  color: aquamarine;
  text-align: end;
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
} */

#totalHour {
  border: 2px solid rgb(236, 63, 63);
  height: 9vh;
  background-color: red;
}
.text {
  padding: 1rem;
}
.ttl1 {
  border-radius: 50px;
}
